서울특별시_일반음식점.csv
251205_music_chart.ipynb
__01.melon_chart.xlsx
__02.bugs_chart.xlsx
__03.genie_chart.xlsx
__04.integration_chart.xlsx
music_top_100_chart.png
test.xlsx
__jtbc_news.xlsx
news_section.xlsx
__05.youtube_rank_data.xlsx
__06.youtube_top100_category_pie.png
자바 스크립트 deep dive_study.pdf
가연씨 생각.txt


\__pycache__
\test
\java_script
\.vscode
\presentation


*.pyc