<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테스트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">

    <style>
        body#body {
            display: flex;
        }

        aside {
            border: 1px solid #333;
            margin: 5px;
            padding: 20px;
        }

        #fisrt {
            padding: 30px 10px;
        }

        #fisrt th,td {
            font-size: 16px;
        }

        #first tr {
            padding: 10px 0;
        }

        #first td {
            font-weight:700;
        }
    </style>
</head>
<body id='body'>
    <aside>이게 aside야!!!!</aside>
    <div id="fisrt">
        <table>
            <tbody>
                <tr><th>제목</th><td>1</td></tr>
                <tr><th>제목</th><td>2</td></tr>
                <tr><th>제목</th><td>3</td></tr>
                <tr><th>제목</th><td>4</td></tr>
                <tr><th>제목</th><td>5</td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>